.btn {
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: inherit;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}


.btn--primary {
    color: white;
    background-color:rgb(12, 176, 108);

}

.btn--primary:hover {
    background-color: rgb(54, 190, 106);
}



.btn--danger {
    color: white;
    background-color:rgb(253, 7, 7);

}

.btn--danger:hover {
    background-color: rgb(241, 41, 41);
}